/* Markdown Code Line Number */
#mark-down pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    line-height: 1.4;
    white-space: pre;
    overflow: auto;
    background-color: #000;
    border: 1px solid #ddd;
    padding: .5rem;
    max-height: 800px;
    color: #fff;
    font-family: monospace;
}
pre .line-number {
    display: block;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid #ddd;
    text-align: right;
}
pre .line-number span {
    display: block;
    padding: 0 .5em 0 1em;
    color: #ccc;
}
pre .cl {
    display: block;
    clear: both;
}
pre code {
    color: inherit;
    background-color: transparent;
    padding: 0;
    display: block;
}