* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'PingFang SC', 'Microsoft Yahei', 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.height-100 {
    height: 100%;
}
.anmation {
    transition: all .5s linear;
}

html, body, #app {
    height: 100%;
}
  
#logo {
    margin: 15px;
    padding: 10px;
    text-align: left;
    img {
        width: 50%;
    }
}
#logo.collapsed {
    padding: 5px;
    img {
        width: 100%;
    }
}
  
#menu {
    text-align: left;
    text-transform: uppercase;
}
  
#status {
    padding: 0;
    text-align: left;
    background-color: #fff;
    .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }
    .trigger:hover {
        color: #1890ff;
    }
    .user {
        padding: 0 24px;
        text-align: right;
        .user-prefix-icon {
            background-Color:#87d068;
        }
    }
    .user > span, .user a {
        margin-left: 10px;
    }
}

  
#main {
    margin: 18px 16px;
    padding: 20px;
    background: #fff;
    #table {
        .option {
            a{
                font-size: 16px;
                color: rgba(0, 0, 0, 0.65);
            }
            a:hover {
                color: #1890ff;
            }
        }
        /* Overwrite Antdesign default style */
        .ant-table-thead > tr > th .anticon-filter {
            right: auto;
        }
        .ant-table-pagination.ant-pagination {
            float: none;
            text-align: center;
        }
        .tags span {
            padding: 3px 5px;
            font-size: 11px;
            line-height: 11px;
        }
        .action {
            a{
                margin: 0 8px;
                font-size: 18px;
                color: rgba(0, 0, 0, 0.65);
            }
            a:hover {
                color: #1890ff;
            }
        }
        .add {
            font-size: 16px;
            line-height: 42px;
            text-align: center;
            vertical-align: middle;
        }
    }
      
    #editor {
        header {
            padding: 0;
            height: auto;
            background-color: #fff;
            .option {
                position: relative;
                margin-top: -18px;
                font-size: 16px;
                a {
                    margin-right: 25px;
                    color: rgba(0, 0, 0, 0.65);
                    span {
                        position: relative;
                        bottom: -1px;
                    }
                }
                a:hover {
                    color: #1890ff;
                }
                button {
                    margin-right: 10px;
                }
            }
            .ant-row {
                .ant-col:first-child {
                    padding-right: 2px;
                }
                .ant-col:last-child {
                    padding-left: 2px;
                }
                .position {
                    position: relative;
                    font-size: 18px;
                    a {
                        position: relative;
                        top: 10px;
                        padding-left: 20px;
                        line-height: 1;
                        vertical-align: top;
                        &>span {
                            position: relative;
                            top: -22px;
                        }
                        span.geo {
                            span {
                                display: inline-block;
                                width: 64px;
                                text-overflow: clip;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }

        .content {
            background-color: #fff;
            overflow: hidden;
            .ant-form-item {
                height: 100%;
                .ant-form-item-control-wrapper {
                    height: 100%;
                    .ant-form-item-control {
                        height: 100%;
                        span {
                            display: block;
                            height: 100%;
                            textarea {
                                height: 100%;
                                resize: none;
                            }
                        }
                    }
                }
            }
            .preview {
                padding: 5px;
                overflow: scroll;
            }
        }
    }
}

// Overwrite Antdesign drawer default style
.ant-drawer-wrapper-body {
    .ant-drawer-body {
        padding: 0;
        overflow: hidden;
    }
}

#pictures-manage {
    background-color: #fff;
    .upload {
        padding: 0 10px;
        font-size: 18px;
        background-color: #fff;
    }
    .pictures-list {
        height: 100px;
        text-align: center;
        overflow: scroll;
        .ant-image {
            img {
                padding: 0 10px;
                height: 100%;
                width: auto;
            }
        }
    }
    .pager {
        padding: 15px 0;
        text-align: center;
        background-color: #fff;
    }
}

.location {
    .ant-modal-content {
        height: 100%;
        header {
            padding: 10px;
            height: 50px;
            line-height: 1;
            background-color: #fff;
        }
        main {
            height: 550px;
            #map {
                height: 100%;
                width: 100%;
            }
        }
    }
}


#login-page {
    background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .login-form-wrap {
        background-color: #fff;
        h1 {
            padding-top: 20px;
            text-align: center;
        }
        .login-form {
            margin: 35px 80px;
        }
    }
}
