<template>
  <a-layout class="height-100">
    <a-layout-sider v-model:collapsed="collapsed" :trigger="null" collapsible>
      <div id="logo" :class="{'collapsed': collapsed}">
        <img alt="Codé de Flâner" src="@/assets/logo-white.png">
      </div>
      <Menu />
    </a-layout-sider>
    <a-layout>
      <a-layout-header id="status">
        <a-row>
          <a-col :span="12">
            <menu-unfold-outlined v-if="collapsed" class="trigger" @click="collapsedToggle" />
            <menu-fold-outlined v-else class="trigger" @click="collapsedToggle" />
          </a-col>
          <Status />
        </a-row>
      </a-layout-header>
      <a-layout-content id="main" class="height-100">
        <router-view />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import {
  MenuUnfoldOutlined,
  MenuFoldOutlined,
} from '@ant-design/icons-vue';

import Menu from '@/components/Menu';
import Status from '@/components/Status';

export default {
  name: 'Admin',
  components: {
    Menu,
    MenuUnfoldOutlined,
    MenuFoldOutlined,
    Status,
  },
  data () {
    return {
      collapsed: false,
      key: this.$router.path,
    };
  },
  methods: {
    collapsedToggle() {
      this.collapsed = !this.collapsed;
    }
  }
};
</script>