<template>
  <a-form ref="settingForm" :model="settingForm" :rules="rules" :labelCol="{ span: 9, offset: 1 }" :wrapperCol="{ span: 7 }" id="editor" class="height-100">
    <a-form-item required name="fontPageSize" label="FRONT PAGE SIZE">
      <a-input v-model:value.number="settingForm.fontPageSize" type="number" placeholder="FRONT PAGE SIZE" />
    </a-form-item>
    <a-form-item required name="dashboardPageSize" label="DASHBOARD PAGE SIZE">
      <a-input-number v-model:value="settingForm.dashboardPageSize" placeholder="DASHBOARD PAGE SIZE" />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 6, offset: 10 }">
      <a-button type="primary" @click="submit">SAVE</a-button>
      <a-button style="margin-left: 10px;" @click="resetFields">RESET</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
export default {
  name: 'Setting',
  data() {
    return {
      settingForm: {
        fontPageSize: 8,
        dashboardPageSize: 8,
      },
      rules: {
        fontPageSize: [{ type: 'number', required: true, message: 'Need a number', trigger: 'blur' }],
        dashboardPageSize: [{ type: 'number', required: true, message: 'Need a number', trigger: 'blur' }],
      }
    }
  },
  methods: {
    submit() {
      console.log('submit');
    },
    resetFields() {
      this.$refs.settingForm.resetFields();
    },
  }
}
</script>
