<template>
  <div id="table">
    <div class="option"><a class="add" @click="newTag"><FormOutlined /> NEW</a></div>
    <a-table :columns="columns" :data-source="data" rowKey="id" @change="pageChange" :pagination="paginationOption">
      <template #nameHead>
        <span><OrderedListOutlined /> NAME</span>
      </template>
      <template #countHead>
        <span><PieChartOutlined /> COUNT</span>
      </template>
      <template #count="{ text }">
        <span>{{ text == null ? 0 : text }}</span>
      </template>
      <template #actionHead>
        <span><SettingOutlined /> ACTION</span>
      </template>
      <template #action="{ record }">
        <span class="action">
          <a @click="editTag(record.id, record.name)"><EditOutlined /></a>
          <a @click="deleteTag(record.id, record.name)"><DeleteOutlined /></a>
        </span>
      </template>
    </a-table>
    <a-modal v-model:visible="modalVisible" title="TAG CONFIG" @ok="modalOk" ok-text="SAVE" :confirm-loading="confirmLoading">
      <a-form :model="tagForm" :rules="rules">
        <a-form-item required name="name" :wrapperCol="{span: 24}">
          <a-input v-model:value="tagForm.name" placeholder="TAG NAME" />
        </a-form-item>
      </a-form>
    </a-modal>
    <a-modal v-model:visible="deleteModalVisible" title="DELETE CONFIRM" @ok="deleteModalOk" ok-text="DELETE" :confirm-loading="deleteConfirmLoading">
      <p>ARE YOU SURE TO DELETE TAG: "{{ tagDelete.name }}"</p>
    </a-modal>
  </div>
</template>

<script>
import {
  OrderedListOutlined,
  PieChartOutlined,
  SettingOutlined,
  EditOutlined,
  DeleteOutlined,
  FormOutlined,
} from '@ant-design/icons-vue';
import { TagsUrl, getEncap, postEncap, patchEncap, deleteEncap } from '@/api/index'

const columns = [
  {
    dataIndex: 'name',
    slots: { title: 'nameHead' },
  },
  {
    dataIndex: 'tag_count',
    slots: { title: 'countHead', customRender: 'count' },
  },
  {
    key: 'action',
    slots: { title: 'actionHead', customRender: 'action' },
  },
];

export default {
  name: 'Tags',
  components: {
    OrderedListOutlined,
    PieChartOutlined,
    SettingOutlined,
    EditOutlined,
    DeleteOutlined,
    FormOutlined,
  },
  data () {
    return {
      columns,
      data: [],
      paginationOption: {},
      count: 0,
      pageSize: 8,
      modalVisible: false,
      confirmLoading: false,
      tagForm: {
        id: 0,
        name: '',
      },
      rules: {
        name: [{ required: true, message: 'Need name', trigger: 'blur' }]
      },
      deleteModalVisible: false,
      deleteConfirmLoading: false,
      tagDelete: {
        id: 0,
        name: '',
      },
    };
  },
  methods: {
    getData(page) {
      getEncap(TagsUrl, {
        page_size: this.pageSize,
        page: page,
      },
      data => {
        this.data = data.tags;
        this.count = data.count;
        const pageSizeOptions = {
          total: this.count,
          current: page,
          pageSize: this.pageSize,
        }
        this.paginationOption = pageSizeOptions;
      }, '');
    },
    saveData(data) {
      postEncap(TagsUrl, data,
      () => {
        this.getData(1);
        this.modalVisible = false;
        this.confirmLoading = false;
      }, 'Tag saved.', 
      () => {
        this.confirmLoading = false;
      });
    },
    updateData(data) {
      patchEncap(TagsUrl, data,
      () => {
        this.getData(1);
        this.modalVisible = false;
        this.confirmLoading = false;
      }, 'Tag updated.',
      () => {
        this.confirmLoading = false;
      });
    },
    deleteData(data) {
      deleteEncap(TagsUrl, data,
      () => {
        this.getData(1);
        this.deleteModalVisible = false;
      }, 'Tag deleted.',
      () => {
        this.confirmLoading = false;
      });
    },
    newTag() {
      this.modalVisible = true;
      this.tagForm = {
        id: 0,
        name: '',
      }
    },
    editTag(id, name) {
      this.modalVisible = true;
      this.tagForm.name = name;
      this.tagForm.id = id;
    },
    modalOk() {
      this.confirmLoading = true;
      if (this.tagForm.id === 0) {
        this.saveData(this.tagForm);
      } else {
        this.updateData(this.tagForm);
      }
    },
    deleteTag(id, name) {
      this.deleteModalVisible = true;
      this.tagDelete.id = id;
      this.tagDelete.name = name;
    },
    deleteModalOk() {
      this.deleteData({ id: this.tagDelete.id });
    },
    pageChange(pagination) {
      this.getData(pagination.current);
    },
  },
  mounted() {
    this.getData(1);
  }
}
</script>
