<template>
  <a-form :model="blogForm" :rules="rules" id="editor" class="height-100">
    <a-layout class="height-100">
      <a-layout-header>
        <div class="option">
          <a @click="() => { this.drawerVisible = true; }"><PictureOutlined /> PICTURES</a>
          <a @click="showTagModal"><TagsOutlined /> TAGS</a>
          <a @click="saveBlog"><SaveOutlined /> SAVE</a>
          <a @click="publish"><SnippetsOutlined /> PUBLISH</a>
          <a @click="fullScreenSwitch('full-screen')"><FullscreenOutlined v-if="!fullScreen" /> <FullscreenExitOutlined v-if="fullScreen" /> FULL SCREEN</a>
          <a-switch size="small" v-model:checked="preview" @change="previewHandle" />PREVIEW
        </div>
        <a-row>
          <a-col :span="12">
            <a-form-item required name="title" :wrapperCol="{span: 24}">
              <a-input v-model:value="blogForm.title" placeholder="TITLE" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item required :wrapperCol="{span: 24}">
              <a-select v-model:value="blogForm.category" placeholder="CATEGORY">
                <a-select-option :value="1">CODE & DESIGN</a-select-option>
                <a-select-option :value="2">THOUGHTS</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
        </a-row>
      </a-layout-header>
      <a-layout-content class="height-100">
        <a-row class="content height-100">
          <a-col :span="editorWidth" class="height-100">
            <a-form-item required name="content" :wrapperCol="{span: 24}" class="height-100">
              <a-textarea v-model:value="blogForm.content" placeholder="CONTENT" />
            </a-form-item>
          </a-col>
          <a-col :span="12" v-show="preview" class="preview markdown-body height-100" id="mark-down"></a-col>
        </a-row>
      </a-layout-content>
    </a-layout>
    <a-drawer placement="bottom" height="218px" :closable="false" v-model:visible="drawerVisible">
      <PicturesList />
    </a-drawer>
    <a-modal title="SELECT TAGS" v-model:visible="tagsModalVisible" @ok="tagModalOk" :width="800">
      <div>
        <a @click="() => { $router.push({ name: 'Tags' }) }"> <TagsOutlined /> NEW TAG</a>
      </div>
      <div>
        <a-checkable-tag v-for="(tag, index) in tags" :key="index" v-model:checked="tagsCheck[tag.name]">{{ tag.name }}</a-checkable-tag>
      </div>
    </a-modal>
  </a-form>
</template>

<script>
import {
  SaveOutlined,
  SnippetsOutlined,
  TagsOutlined,
  PictureOutlined,
  FullscreenOutlined,
  FullscreenExitOutlined,
} from '@ant-design/icons-vue';
import showdown from 'showdown';
import { codeLineNumber } from '@/utils/mdCodeLineNumber.js';
import { fullscreen, exitFullscreen } from '@/utils/fullScreen.js';
import { message } from 'ant-design-vue';
import PicturesList from '@/components/PicturesList.vue'
import { getEncap, BlogsUrl, TagsUrl } from '@/api/index'

export default {
  name: 'BlogEdit',
  components: {
    SaveOutlined,
    SnippetsOutlined,
    TagsOutlined,
    PictureOutlined,
    PicturesList,
    FullscreenOutlined,
    FullscreenExitOutlined,
  },
  data () {
    return {
      preview: false,
      drawerVisible: false,
      tagsModalVisible: false,
      tags: [],
      tagsCheck: [],
      editorWidth: 24,
      fullScreen: false,
      blogForm: {
        title: '',
        category: null,
        content: '',
      },
      rules: {
        title: [{ required: true, message: 'Need title', trigger: 'blur' }],
        categoty: [{ required: true, message: 'Need category' }],
        content: [{ required: true, message: 'Need context', trigger: 'blur' }],
      },
    };
  },
  watch: {
    blogForm: {
      handler() {
        this.markdownInit();
      },
      deep: true,
    },
    '$route.params.id': {
      handler() {
        if (this.$route.params.id === undefined) {
          this.blogForm = {
            title: '',
            category: null,
            content: '',
          };
        }
      }
    },
  },
  methods: {
    previewHandle(checked) {
      console.log(checked);
      if (checked) {
        this.editorWidth = 12;
      } else {
        this.editorWidth = 24;
      }
    },
    markdownInit() {
      let markDownObj = document.getElementById('mark-down');
      let converter = new showdown.Converter();
      let html = converter.makeHtml(this.blogForm.content);
      markDownObj.innerHTML = html;
      codeLineNumber('pre');
    },
    getBlogsData() {
      getEncap(BlogsUrl, {
        page_size: this.pageSize,
        page: 1,
        id: this.$route.params.id,
      },
      data => {
        this.blogForm.title = data.blogs[0].title;
        this.blogForm.category = data.blogs[0].category_id;
        this.blogForm.content = data.blogs[0].content;
      });
    },
    getTagsData() {
      getEncap(TagsUrl, {
        page_size: 30,
        page: 1,
      },
      data => {
        this.tags = data.tags;
        this.tags.forEach(arrItem => {
          this.tagsCheck[arrItem.name] = false;
        });
      });
    },
    saveBlog() {
      message.info('This content has been saved.');
    },
    publish() {
      message.info('This content has been Published.');
      console.log('Publish!');
    },
    showDrawer() {
      this.drawerVisible = true;
    },
    showTagModal() {
      this.tagsModalVisible = true;
    },
    tagModalOk() {
      console.log('...')
    },
    fullScreenSwitch() {
      let el = document.body;
      // let el = document.getElementById(id);
      if (this.fullScreen) {
        exitFullscreen();
        this.fullScreen = false;
      } else {
        fullscreen(el);
        this.fullScreen = true;
      }
    }
  },
  mounted() {
    if (this.$route.params.id !== undefined) {
      this.getBlogsData();
    }
    this.getTagsData();
  }
}
</script>

<style>
  @import '~@/styles/github-markdown.min.css';
  @import '~@/styles/markdown-code-style.css';
</style>
