<template>
  <a-layout>
    <a-layout-header>
      <span><EnvironmentOutlined /> LOCATION <span v-if="location">: [LNG:{{ location.lng }}, LAT: {{ location.lat }}]</span></span>
    </a-layout-header>
    <a-layout-content>
      <div id="map"></div>
    </a-layout-content>
  </a-layout>
</template>

<script>
import {
  EnvironmentOutlined,
} from '@ant-design/icons-vue';
import mapboxgl from 'mapbox-gl'
import 'mapbox-gl/dist/mapbox-gl.css';

export default {
  name: 'Mapbox',
  components: {
    EnvironmentOutlined,
  },
  props: ['mapPoint'],
  data () {
    return {
      location: null,
      marker: null,
    };
  },
  methods: {
    initMap() {
      mapboxgl.accessToken = 'pk.eyJ1Ijoic3BhcmtldCIsImEiOiJja2plazAxdjEzc2p0MzBucHpydDhkOXNiIn0.JLrQGxRHZBBt4_-KDmIDiQ';
      const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/sparket/ckjhctl54ftmj19p3da1iac5o',
          // 初始地图中心
          center: initCenter,
          // 初始缩放比例
          zoom: 5
      });
      // 添加控制组建
      let nav = new mapboxgl.NavigationControl();
      map.addControl(nav, 'bottom-left');

      // 如果父元素传入 mapPoint 即有初始 mapPoint
      let initCenter = []
      if (this.mapPoint) {
        map.setCenter([this.mapPoint.lng, this.mapPoint.lat]);

        let marker = new mapboxgl.Marker({
          draggable: true
        }).setLngLat([this.mapPoint.lng, this.mapPoint.lat]).addTo(map);
        marker.on('dragend', this.markerOnDragEnd);
        this.marker = marker;
      } else {
        map.setCenter([114.1, 22.2]);
      }

      let that = this;
      map.on('click', function (e) {
        that.location = e.lngLat;
        if (that.marker === null) {
          that.mapClickAddMarker(map, e.lngLat);
        } else {
          that.marker.setLngLat([e.lngLat.lng, e.lngLat.lat]);
        }
        that.sendLocationToFather();
      });
    },
    mapClickAddMarker(map, lngLat) {
      let marker = new mapboxgl.Marker({
        draggable: true
      }).setLngLat([lngLat.lng, lngLat.lat]).addTo(map);
      marker.on('dragend', this.markerOnDragEnd);
      this.marker = marker;
    },
    markerOnDragEnd() {
      this.location = this.marker.getLngLat();
      this.sendLocationToFather();
    },
    sendLocationToFather() {
      this.$emit('childHandle', this.location);
    }
  },
  mounted() {
    this.initMap();
  }
}
</script>
