<template>
  <a-menu id="menu" theme="dark" mode="inline" :selectedKeys="[$route.name]">
    <template v-for="item in menuData">
      <a-sub-menu v-if="item.children" :key="item.name">
        <template #title>
          <span><component :is="item.icon" /><span>{{ item.text }}</span></span>
        </template>
        <a-menu-item v-for="childItem in item.children" :key="childItem.name">
          <router-link :to="childItem.path">
            <component :is="childItem.icon" />
            <span>{{ childItem.text }}</span>
          </router-link>
        </a-menu-item>
      </a-sub-menu>
      <a-menu-item  v-else :key="item.name">
        <router-link :to="item.path">
          <component :is="item.icon" />
          <span>{{ item.text }}</span>
        </router-link>
      </a-menu-item>
    </template>
  </a-menu>
</template>

<script>
import {
  SmileOutlined,
  UnorderedListOutlined,
  EditOutlined,
  EnvironmentOutlined,
  PushpinOutlined,
  TagsOutlined,
  FormOutlined,
  SettingOutlined,
} from '@ant-design/icons-vue';

export default {
  name: 'Menu',
  components: {
    SmileOutlined,
    UnorderedListOutlined,
    EditOutlined,
    EnvironmentOutlined,
    PushpinOutlined,
    TagsOutlined,
    FormOutlined,
    SettingOutlined,
  },
  data () {
    return {
      menuData: [
        {
          text: 'Blogs',
          name: 'Blogs',
          path: '/dashboard/blogs',
          icon: 'SmileOutlined',
          children: [
            {
              text: 'List',
              name: 'BlogsList',
              path: '/dashboard/blogs/list',
              icon: 'UnorderedListOutlined',
            },
            {
              text: 'New',
              name: 'BlogCreate',
              path: '/dashboard/blogs/create',
              icon: 'EditOutlined',
            },
          ]
        },
        {
          text: 'Footprints',
          name: 'Footprints',
          path: '/dashboard/footprints',
          icon: 'EnvironmentOutlined',
          children: [
            {
              text: 'List',
              name: 'FootprintsList',
              path: '/dashboard/footprints/list',
              icon: 'UnorderedListOutlined',
            },
            {
              text: 'New',
              name: 'FootprintCreate',
              path: '/dashboard/footprints/create',
              icon: 'PushpinOutlined',
            },
          ]
        },
        {
          text: 'Tags',
          name: 'Tags',
          path: '/dashboard/tags',
          icon: 'TagsOutlined'
        },
        {
          text: 'Settings',
          name: 'Settings',
          path: '/dashboard/settings',
          icon: 'SettingOutlined'
        },
      ]
    };
  }
}
</script>
