<template>
  <a-layout id="pictures-manage">
    <a-layout-header class="upload">
        <a @click="() => { this.uploaderVisible = true; }"><CloudUploadOutlined /> Upload</a>
    </a-layout-header>
    <a-layout-content class="pictures-list">
      <a-image-preview-group>
        <a-image :height="100" src="https://qn.antdv.com/vue.png" />
        <a-image :height="100" src="https://qn.antdv.com/logo.png" />
        <a-image :height="100" src="https://qn.antdv.com/logo.png" />
        <a-image :height="100" src="https://qn.antdv.com/logo.png" />
        <a-image :height="100" src="https://qn.antdv.com/logo.png" />
        <a-image :height="100" src="https://qn.antdv.com/logo.png" />
      </a-image-preview-group>
    </a-layout-content>
    <a-layout-footer class="pager">
      <a-pagination size="small" v-model:current="current" :total="50" show-less-items />
    </a-layout-footer>
    <a-modal v-model:visible="uploaderVisible" title="PICTURE UPLOAD" @ok="handleOk">
      <a-upload
        v-model:fileList="fileList"
        name="avatar"
        list-type="picture-card"
        class="avatar-uploader"
        :show-upload-list="false"
        action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        :before-upload="beforeUpload"
        @change="handleChange"
      >
          <img v-if="imageUrl" :src="imageUrl" alt="avatar" />
          <div v-else>
            <!-- todo -->
            <LoadingOutlined v-if="loading" />
            <PlusOutlined v-else />
            <div class="ant-upload-text">Upload</div>
          </div>
      </a-upload>
    </a-modal>
  </a-layout>
</template>

<script>
import {
  CloudUploadOutlined,
  PlusOutlined,
  LoadingOutlined,
} from '@ant-design/icons-vue';
// import { message } from 'ant-design-vue';

export default {
  name: 'PicturesList',
  components: {
    CloudUploadOutlined,
    PlusOutlined,
    LoadingOutlined,
  },
  data () {
    return {
      current: 1,
      uploaderVisible: false,
      fileList: [],
      loading: false,
      imageUrl: '',
    };
  },
  methods: {
    handleOk() {
      console.log('ok');
    },
    beforeUpload() {
      console.log('befroe upload');
    },
    handleChange() {
      console.log('handleChange');
    }
  }
}
</script>
