<template>
  <a-col :span="12" class="user">
    <a-avatar class="user-prefix-icon" style="color: #f56a00; backgroundColor: #fde3cf" size="small">
      <template #icon>
        <UserOutlined />
      </template>
    </a-avatar>
    <span class="name">{{ username }}</span>
    <a-popconfirm placement="bottomRight" ok-text="Yes" cancel-text="No" @confirm="confirm">
      <template #title>
        <p>Are you sure logout?</p>
      </template>
      <a href="#" class="logout"><PoweroffOutlined /></a>
    </a-popconfirm>
  </a-col>
</template>

<script>
import {
  UserOutlined,
  PoweroffOutlined,
} from '@ant-design/icons-vue';
import { message } from 'ant-design-vue';

export default {
  name: 'Menu',
  components: {
    UserOutlined,
    PoweroffOutlined,
  },
  data () {
    return {
      username: 'Sparket42',
    };
  },
  methods: {
    confirm() {
      message.info('Logout.');
    },
  }
}
</script>
