<template>
  <a-form :model="footprintForm" :rules="rules" id="editor" class="height-100">
    <a-layout class="height-100">
      <a-layout-header>
        <div class="option">
          <a @click="() => { this.drawerVisible = true; }"><PictureOutlined /> PICTURES</a>
          <a @click="saveBlog"><SaveOutlined /> SAVE</a>
          <a @click="publish"><SnippetsOutlined /> PUBLISH</a>
          <a-switch size="small" v-model:checked="preview" @change="previewHandle" />PREVIEW
        </div>
        <a-row>
          <a-col :span="8">
            <a-form-item required name="title" :wrapperCol="{span: 24}">
              <a-input v-model:value="footprintForm.title" placeholder="TITLE" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item required name="location" :wrapperCol="{span: 24}">
              <a-input v-model:value="footprintForm.location" placeholder="LOCATION" />
            </a-form-item>
          </a-col>
          <a-col :span="8" class="position">
            <a @click="() => { this.modalVisible = true; }"><EnvironmentOutlined /> 
              <span v-if="footprintForm.mapPoint" class="geo"><span>{{ footprintForm.mapPoint.lng }}</span>, <span>{{ footprintForm.mapPoint.lat }}</span></span>
              <span v-else>LOCATION</span>
            </a>
          </a-col>
        </a-row>
      </a-layout-header>
      <a-layout-content class="height-100">
        <a-row class="content height-100">
          <a-col :span="editorWidth" class="height-100">
            <a-form-item required name="content" :wrapperCol="{span: 24}" class="height-100">
              <a-textarea v-model:value="footprintForm.content" placeholder="CONTENT" />
            </a-form-item>
          </a-col>
          <a-col :span="12" v-show="preview" class="preview height-100" id="mark-down"></a-col>
        </a-row>
      </a-layout-content>
    </a-layout>
    <a-modal v-model:visible="modalVisible" @ok="modalOk" :width="800" class="location">
      <Mapbox :mapPoint="footprintForm.mapPoint" @childHandle="childLocationSubmit" />
      <template #footer>
        <a-button key="submit" type="primary" @click="modalOk">
          CLOSE
        </a-button>
      </template>
    </a-modal>
    <a-drawer placement="bottom" height="218px" :closable="false" v-model:visible="drawerVisible" :after-visible-change="afterDrawerVisibleChange">
      <PicturesList />
    </a-drawer>
  </a-form>
</template>

<script>
import {
  SaveOutlined,
  SnippetsOutlined,
  PictureOutlined,
  EnvironmentOutlined,
} from '@ant-design/icons-vue';
import showdown from 'showdown';
import {codeLineNumber} from '@/utils/mdCodeLineNumber.js';
import { message } from 'ant-design-vue';
import Mapbox from '@/components/Mapbox.vue'
import PicturesList from '@/components/PicturesList.vue'
import { getEncap, FootprintsUrl } from '@/api/index'

export default {
  name: 'FootprintsEdit',
  components: {
    SaveOutlined,
    SnippetsOutlined,
    PictureOutlined,
    EnvironmentOutlined,
    Mapbox,
    PicturesList,
  },
  data () {
    return {
      preview: false,
      drawerVisible: false,
      modalVisible: false,
      locationTempFromChild: '',
      editorWidth: 24,
      footprintForm: {
        title: '',
        location: '',
        content: '',
        mapPoint: null,
      },
      rules: {
        title: [{ required: true, message: 'Need title', trigger: 'blur' }],
        categoty: [{ required: true, message: 'Need category' }],
        content: [{ required: true, message: 'Need context', trigger: 'blur' }],
      },
    };
  },
  watch: {
    footprintForm: {
      handler() {
        this.markdownInit();
      },
      deep: true,
    },
    '$route.params.id': {
      handler() {
        if (this.$route.params.id === undefined) {
          this.footprintForm = {
            title: '',
            location: '',
            content: '',
            mapPoint: null,
          };
        }
      }
    },
  },
  methods: {
    previewHandle(checked) {
      console.log(checked);
      if (checked) {
        this.editorWidth = 12;
      } else {
        this.editorWidth = 24;
      }
    },
    markdownInit() {
      let markDownObj = document.getElementById('mark-down');
      let converter = new showdown.Converter();
      let html = converter.makeHtml(this.footprintForm.content);
      markDownObj.innerHTML = html;
      codeLineNumber('pre');
    },
    getData() {
      getEncap(FootprintsUrl, {
        page_size: this.pageSize,
        page: 1,
      },
      data => {
        this.footprintForm.title = data.footprints[0].title;
        this.footprintForm.location = data.footprints[0].location;
        this.footprintForm.content = data.footprints[0].content;
        this.footprintForm.mapPoint = data.footprints[0].map_point;
      }, '');
    },
    saveBlog() {
      message.info('This content has been saved.');
    },
    publish() {
      message.info('This content has been Published.');
      console.log('Publish!');
    },
    modalOk() {
      this.modalVisible = false;
    },
    childLocationSubmit(lngLat) {
      this.footprintForm.mapPoint = lngLat;
    },
    afterDrawerVisibleChange(val) {
      console.log('visible', val);
    },
  },
  mounted() {
    if (this.$route.params.id !== undefined) {
      this.getData();
    }
  }
}
</script>

<style>
  @import '~@/styles/github-markdown.min.css';
  @import '~@/styles/markdown-code-style.css';
</style>
