<template>
  <div id="table">
    <div class="option"><a class="add" @click="goEdit"><FormOutlined /> NEW</a></div>
    <a-table :columns="columns" :data-source="data" rowKey="id" @change="pageChange" :pagination="paginationOption">
      <template #titleHead>
        <span><OrderedListOutlined /> TITLE</span>
      </template>
      <template #footprintsTitle="{ text, record }">
        <a :href="record.key">{{ text }}</a>
      </template>
      <template #locationHead>
        <span><EnvironmentOutlined /> LOCATION</span>
      </template>
      <template #dateHead>
        <span><ClockCircleOutlined /> DATE</span>
      </template>
      <template #publishedHead>
        <span><SnippetsOutlined /> STATUS</span>
      </template>
      <template #published="{ record }">
        <span v-if="record.published">Published</span>
        <span v-else>Draft</span>
      </template>
      <template #actionHead>
        <span><SettingOutlined /> ACTION</span>
      </template>
      <template #action="{ record }">
        <span class="action">
          <a @click="goEdit(record.id)"><EditOutlined /></a>
          <a :href="record.id"><DeleteOutlined /></a>
        </span>
      </template>
    </a-table>
  </div>
</template>

<script>
import {
  OrderedListOutlined,
  SnippetsOutlined,
  ClockCircleOutlined,
  EnvironmentOutlined,
  SettingOutlined,
  EditOutlined,
  DeleteOutlined,
  FormOutlined,
} from '@ant-design/icons-vue';
import { getEncap, FootprintsUrl } from '@/api/index'
import { dateFormat } from '@/utils/dateFormat.js'

const columns = [
  {
    dataIndex: 'title',
    width: '20%',
    slots: { title: 'titleHead', customRender: 'footprintsTitle' },
  },
  {
    dataIndex: 'location',
    width: '15%',
    slots: { title: 'locationHead' },
  },
  {
    dataIndex: 'date',
    width: '15%',
    slots: { title: 'dateHead' },
    // sorter: true,
  },
  {
    dataIndex: 'Published',
    width: '10%',
    slots: { title: 'publishedHead', customRender: 'published' },
    filters: [
      { text: 'Published', value: 1 },
      { text: 'Draft', value: 0 },
    ],
  },
  {
    key: 'action',
    width: '10%',
    slots: { title: 'actionHead', customRender: 'action' },
  },
];

export default {
  name: 'Footprints',
  components: {
    OrderedListOutlined,
    SnippetsOutlined,
    ClockCircleOutlined,
    EnvironmentOutlined,
    SettingOutlined,
    EditOutlined,
    DeleteOutlined,
    FormOutlined,
  },
  data () {
    return {
      columns,
      data: [],
      paginationOption: {},
      count: 0,
      pageSize: 8,
    };
  },
  methods: {
    getData(page) {
      getEncap(FootprintsUrl, {
        page_size: this.pageSize,
        page: page,
      },
      data => {
        this.data = data.footprints;
        this.data.forEach(element => {
          let date = new Date(element.date);
          element.date = dateFormat(date);
        });
        this.count = data.count;
        const pageSizeOptions = {
          total: this.count,
          current: page,
          pageSize: this.pageSize,
        }
        this.paginationOption = pageSizeOptions;
      }, '');
    },
    pageChange(pagination) {
      this.getData(pagination.current);
    },
    goEdit(id) {
      this.$router.push({ path: '/dashboard/footprints/edit/' + id });
    },
  },
  mounted() {
    this.getData(1);
  }
}
</script>
