<template>
  <a-row type="flex" justify="center" align="middle" id="login-page" class="height-100">
    <a-col class="login-form-wrap">
      <h1>JUST FUCKING LOGIN</h1>
      <a-form
        name="login"
        ref="loginForm"
        :model="loginForm"
        :rules="rules"
        @finish="submit"
        @finishFailed="failed"
        class="login-form"
      >
        <a-form-item required ref="name" label="Username" name="username">
          <a-input v-model:value="loginForm.username" />
        </a-form-item>
        <a-form-item required label="Password" name="password">
          <a-input v-model:value="loginForm.password" type="password" autocomplete="off" />
        </a-form-item>
        <a-form-item :wrapper-col="{ span: 14, offset: 4 }">
          <a-button type="primary" html-type="submit">
            Login
          </a-button>
          <a-button style="margin-left: 10px" @click="resetForm">
            Reset
          </a-button>
        </a-form-item>
      </a-form>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      loginForm: {
        username: '',
        password: '',
      },
      rules: {
        username: [{ required: true, message: 'Please input username', trigger: 'blur' }],
        password: [{ required: true, message: 'Please input password', trigger: 'blur' }],
      },
    };
  },
  methods: {
    submit() {
      console.log('Login!');
    },
    failed() {
      console.log('Failed!');
    },
    resetForm() {
      this.loginForm.username = '';
      this.loginForm.password = '';
    }
  },
}
</script>
